{% extends "student/model.html" %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
	function updateSuccess() {
		alert("密码修改成功！");
	}
</script>
<!--
<%
	if (session.getAttribute("user") == null) {
		response.sendRedirect("/FamilyEdu/user/login");
	}

	if (session.getAttribute("updateSuccess") != null) {
		out.print("<script type='text/javascript'>updateSuccess();</script>");
		session.removeAttribute("updateSuccess");
	}
%>
-->
<script>
	$(document).ready(function() {
		$("#updatePassword").validate();
	});
</script>
{% endblock %}
{% block student %}
<!--修改密码-->
					<div class='p_block_password'>
					    <h3 class="text-center">{{ error }}</h3>
						<form accept-charset="UTF-8"
							action="{{ url_for('student.change_password') }}"
							class="form-horizontal" id="updatePassword" method="post">
							<div class='form-group'>
								<label class="col-md-2 control-label" for="teacher_当前密码:">当前密码:</label>
								<div class='col-md-4 col-xs-4'>
									<input autocomplete="off" class="form-control"
										id="teacher_current_password" name="oldpassword" size="30"
										type="password" required data-msg-required="请输入当前密码"
										data-msg-remote="当前密码不正确" />
								</div>
							</div>
							<div class='form-group'>
								<label class="col-md-2 control-label" for="teacher_新密码:">新密码:</label>
								<div class='col-md-4 col-xs-4'>
									<input autocomplete="off" class="form-control" id="newPassword"
										name="password" size="30" type="password" required
										data-msg-required="请输入新密码" minlength="6"
										data-msg-minlength="至少输入6个字符" />
								</div>
							</div>
							<div class='form-group'>
								<label class="col-md-2 control-label" for="teacher_确认密码:">确认密码:</label>
								<div class='col-md-4 col-xs-4'>
									<input autocomplete="off" class="form-control" size="30"
										type="password" required data-msg-required="确认密码不能为空"
										equalTo="#newPassword" />
								</div>
							</div>
							<div class='form-group'>
								<div
									class='col-sm-offset-2 col-sm-offset-2 col-sm-10 col-sm-10 col-md-4 col-xs-4'>
									<input class="btn btn-success form-control" name="commit"
										type="submit" value="提交" />
								</div>
							</div>
						</form>

					</div>
{% endblock %}

