{% extends "student/model.html" %}
{% import "_macros.html" as macros %}
{% block scripts %}
{{ super() }}
<!--
<%
	if (session.getAttribute("user") == null) {
		response.sendRedirect("/FamilyEdu/user/login");
	}
%>
-->
<script type="text/javascript">
	jQuery(document).ready(function() {
		$("#deleteReason").validate();
		jQuery(".deleteBtn").click(function() {
			jQuery("#deleteReason").attr("action", $(this).attr('name'));
		});

	});
</script>

	<script type="text/javascript">
		jQuery('#teachDate').datepicker({
			minDate : new Date()

		});

		jQuery("#addOrder").validate();
	</script>

{% endblock %}
{% block student %}
<!--待确认的订单-->

					<table class="table table-striped">
						<thead>
							<tr>
								<th style="text-align: center;">课程名称</th>
								<th style="text-align: center;">家教姓名</th>
								<th style="text-align: center;">学生联系方式</th>

								<th style="text-align: center;">学生名称</th>
								<th style="text-align: center;">状态</th>
								<th style="text-align: center;">订单详情</th>
								<th style="text-align: center;" colspan="1">操作</th>
							</tr>
						</thead>
						{% for order in orders %}
							<tr>
								<td style="text-align: center; vertical-align: middle;">{{ order.course.name }}</td>
								<td style="text-align: center; vertical-align: middle;">{{ order.teacher.name }}</td>
								<td style="text-align: center; vertical-align: middle;">{{ order.phone }}</td>
								<td style="text-align: center; vertical-align: middle;">{{ current_user.name }}</td>
								{% if order.status=='unconfirm' %}
									<td style="text-align: center; vertical-align: middle;">
										待家教确认</td>
								}
								{% endif %}
								<c:if test="${myOrder.status==1}">
									<td style="text-align: center;">家教已确认</td>
								</c:if>
								<td style="text-align: center; vertical-align: middle;">
									<form action="/FamilyEdu/user/order/detail" method="post"
										target="_blank">
										<input type="hidden" name="orderId" value="${myOrder.id}">
										<button class="btn btn-success btn-xs">查看详情</button>
									</form>
								</td>
								<c:if test="${myOrder.status==0}">
									<td style="text-align: center; vertical-align: middle;"
										colspan="1">
											<a class="btn btn-success btn-xs deleteBtn" data-toggle="modal"
												data-target="#myModal" name="/FamilyEdu/user/myFamilyEduS/order/deleteOrder/${myOrder.id}">删除订单</a>
									</td>
								</c:if>
							</tr>
						{% endfor %}
					</table>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-5">
        <div class="pagination text-center">
          {{ macros.pagination_widget(pagination, 'main.search') }}
        </div>
      </div>
    </div>
<!--
				<div
					style="position: absolute; top: 320px; margin: 0 auto; width: 910px;">
					<nav style="text-align: center;">
					<ul class="pagination">
						<c:if test="${sessionScope.sOrdersCurrentPage!=1}">
							<li><a
								href="/FamilyEdu/user/myFamilyEduS/order/unconfirmed?page=${sessionScope.sOrdersCurrentPage}&pageAction=pre"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a></li>
						</c:if>
						<c:forEach begin="${sessionScope.sOrdersBeginPage}"
							end="${sessionScope.sOrdersTotalPage}" var="v">
							<c:if test="${ v==sOrdersCurrentPage}">
								<li class="active"><a
									href="/FamilyEdu/user/myFamilyEduS/order/unconfirmed?page=${v }">${v}</a></li>
							</c:if>
							<c:if test="${ v!=sOrdersCurrentPage}">
								<li><a
									href="/FamilyEdu/user/myFamilyEduS/order/unconfirmed?page=${v }">${v}</a></li>
							</c:if>
						</c:forEach>
						<c:if
							test="${sessionScope.sOrdersTotalPage!=sessionScope.sOrdersCurrentPage}">
							<c:if test="${sessionScope.sOrdersTotalPage!=0}">
							<li><a
								href="/FamilyEdu/user/myFamilyEduS/order/unconfirmed?page=${sessionScope.sOrdersCurrentPage}&pageAction=next"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a></li>
							</c:if>
						</c:if>
					</ul>
					</nav>
				</div>

	-->
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form id="deleteReason" method="post">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">删除订单</h4>
					</div>
					<input type="hidden" name="role" value="家长">
					<input type="hidden" name="location"
												value="redirect:/user/myFamilyEduS/order/unconfirmed?page=1">
					<div class="modal-body">
						<textarea rows="5" cols="78" style="resize: none;"
							placeholder="输入删除订单原因" name="deleteReason" required data-msg-required="请输入删除原因"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="submit" class="btn btn-primary" id="reasonSumbit">删除订单</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</form>
		</div>
		<!-- /.modal -->
	</div>
{% endblock %}
