{% extends "auth/model.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
student register
{% endblock %}
{% block css %}
<link href="/static/css/userRegister.css"
	media="all" rel="stylesheet" type="text/css" />
{% endblock %}
{% block script %}
<script src="/static/js/userRegister.js"
	type="text/javascript"></script>
<script src="/static/js/jquery.validate.js"
	type="text/javascript"></script>
<script>
	$(document).ready(function() {
		$("#new_user").validate();
	});
</script>
{% endblock %}
{% block content %}
	<div class='preg_cta'>
		<div class='reg_header'>用户注册</div>
		<div class='preg_body'>
			<div class='body_left'>
				<form accept-charset="UTF-8" action="{{ url_for('auth.student_register') }}"
					class="form-horizontal" id="new_user" method="post">
					{{ error }}
					<!--
					<DIV class=regLine>
						<DIV class=item1>
							<SPAN style="COLOR: red">*</SPAN>手机号&nbsp;(用于登录、<FONT
								style="COLOR: #2d69b4">激活帐号</FONT>及取回密码):
						</DIV>
						<DIV class=item2>
							<INPUT id=cemail name="phone" minLength=11 maxLength=11 type=text required
								data-rule-phone="true" data-msg-required="请输入手机号"
								data-msg-phone="请输入正确的手机号" data-rule-remote="{{ url_for('auth.student_register' )}}"
								data-msg-remote="该手机号已被注册">
						</DIV>
					</DIV>
					<br />
					<DIV class=regLine>
						<DIV class=item1>
							<SPAN style="COLOR: red">*</SPAN>姓名(&nbsp;用户名由2-10个字符组成):
						</DIV>
						<DIV class=item2>
							<INPUT id="cname" type="text" name="name" required
								data-msg-required="请输入姓名" minlength="2" maxlength="10"
								data-msg-minlength="姓名长度为2~10个字符">
						</DIV>
					</DIV>
					<br />

					<DIV class=regLine>
						<DIV class=item1>
							<SPAN style="COLOR: red">*</SPAN>密码(密码由6-20个字符组成，区分大小写):
						</DIV>
						<DIV class=item2>
							<INPUT type="password" name="password" id="password" required
								data-msg-required="请输入密码" minlength="6"
								data-msg-minlength="至少输入6个字符" >
						</DIV>
					</DIV>
					<br />
					<DIV class=regLine>
						<DIV class=item1>确认密码：</DIV>
						<DIV class=item2>
							<INPUT type="password" equalTo="#password" name="confirm_password" required data-msg-required="确认密码不能为空" >
						</DIV>
					</DIV>
					<br/>
					<DIV class=regLine>
						<div class='form-group form-gro'>
							<div class='form-controls'>
								<input class="btn btn-success id_item" name="commit"
									type="submit" value="注册" id="registerBtn" />
								<span class='login_btn'> &nbsp;&nbsp;已有帐号，直接 <a href="{{ url_for('auth.student_login') }}">登录</a>
								</span>
							</div>
						</div>
					</DIV>
					-->
                    {{ wtf.quick_form(register) }}
				</form>
			</DIV>

		</DIV>


	</div>
	<div class='pbody_pic'></div>


	<div class='pbody_pic'
		style="background-image: url(/static/image/registerBg.png)"></div>

{% endblock %}