{% extends "main/model.html" %}
<!-- back to main -->
{% block scripts %}
{{ super() }}
<!--
<script type="text/javascript">
		$(document).ready(function(){
			$("#loginBtn").click(function(){
				$.ajax({
					type:'POST',
					url:'/FamilyEdu/user/isTrueLogin',
					data:{
					"email":$("#email").val(),
					"password":$("#password").val()					
					},
					success:function(date){
						if(date=="1"){
							location.href =$("#bookingCourse").attr("name");
						}else if (date=="0") {
							alert("账号或密码错误,请重新输入!");
						}
					}
				});	
			});
		});	
</script>
	</script>
		<script type="text/javascript">
		function noUser() {
			jQuery("#bookingCourse").attr({
				"data-toggle" : "modal",
				"data-target" : "#myModal"
			});
			jQuery("#bookingCourse").removeAttr("href");
			jQuery("#noUserWrapper").show();
			jQuery("#hasUserWrapper").hide();
		}
		function hasUser() {
			jQuery("#bookingCourse").attr("href",
					"/FamilyEdu/user/myFamilyEduS/order/booking/${course.id}");
			jQuery("#bookingCourse").removeAttr("data-toggle");
			jQuery("#bookingCourse").removeAttr("data-target");
			jQuery("#hasUserWrapper").show();
			jQuery("#noUserWrapper").hide();
		}
		function sameUser() {
			jQuery("#bookingCourse").attr("disabled",
					"true");
			
		}
	</script>
<!- - 	<%
		if (session.getAttribute("user") == null) {
			out.print("<script type='text/javascript'>noUser();</script>");
		}
		if (session.getAttribute("user") != null) {
			out.print("<script type='text/javascript'>hasUser();</script>");
		}
		User u=(User)request.getSession().getAttribute("user");
		Course c=(Course)request.getSession().getAttribute("course");
		if(u!=null&&c.getCreateId().equals(u.getId()+"")){
			out.print("<script type='text/javascript'>sameUser();</script>");
		}
	%> - ->
	<script type='text/javascript'>noUser();</script>
-->
{% endblock %}
{% block main %}
	<div class='autowidth' id='header'>
		<div class='wrapper'>
			<div class='header-search'>
				<!--
				<form accept-charset="UTF-8" action="/FamilyEdu/user/search" method="post">
					<div class='header-search-form'>
						<i class='glyphicon glyphicon-search'></i> 
						<input type="hidden" name="page" value="1">
						<input type="hidden" name="sPeriod" value="0">
						<input type="hidden" name="sGender" value="0">
						<input type="hidden" name="sTeachMethod" value="0">
						<input
							class='header-search-input' name='keyword'
							placeholder='输入搜索你想学的课程试试'> <input
							class="header-search-btn" name="commit" type="submit" value="搜索" />
					</div>
				</form>
-->

			</div>
			<div class='header-logo'>
				<a href='{{ url_for("main.index") }}'> <img alt="家教网" class="header-logo-img"
					src="/static/image/logo2.png" />
				</a>
			</div>
		</div>
	</div>

	<div id='details-nav'></div>
	<div id='details-info'>
		<div class='wrapper'>
			<div class='details-info-div'>
				<div class='details-header-box'>
					<div class='details-header-box1'>
						<div class='course-list-box-left-detail'>
							<img alt="Normal_a9ea805f96310cd1e9a7e06811099c296fc3bd98"
								src="/static/image/userImg.png" />
						</div>
					</div>
					<div class='details-header-box2'>
						<img alt="Xlrz" class="details-first-s-img"
							src="/static/image/prove1.png"
							title="学历认证" /> <span class='details-first-s-name'>学历认证</span> <img
							alt="Sfrz" class="details-first-s-img"
							src="/static/image/prove2.png"
							title="身份认证" /> <span class='details-first-s-name'>身份认证</span>
					</div>
				</div>
				<div class='details-first-div'>
					<div class='details-first-f'>{{ course.teacher.name }}</div>
				</div>
				<div class='details-second-div'>
					<div class='details-second-f'>年级专业：</div>
					<div class='details-second-s'>{{ course.teacher.grade }}-{{ course.teacher.major }}</div>
				</div>

				<div class='details-second-div' style="width: 800px;">

					<div class='details-second-f'>教学科目：</div>
					<div class='details-second-s2'>{{ course.grade }}-{{ course.name }}</div>
				</div>
				<div class='details-second-div' style="width: 800px;">
					<div class='details-second-f'>适教时间：</div>
					<div class='details-second-s2'>{{ course.teacher.free_time }}</div>
					<a class="btn btn-warning" style="float: right;" id="bookingCourse" name="/FamilyEdu/user/myFamilyEduS/order/booking/${course.id}" >预约课程</a>
				</div>
			</div>
		</div>

	</div>

	<div id='details-list-box'>
		<div class='wrapper'>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-md-9' style="width: 1130px;">
						<div class='col-md-12 info-title info-bd info-pdlr'>
							<ul class='nav nav-pills'>
								<li role='presentation'><a class='font-black'
									href='#namecard'> 我的名片 </a></li>
								<li role='presentation'><a class='font-black'
									href='#studyresult'> 学习成果 </a></li>
								<li role='presentation'><a class='font-black'
									href='#experience'> 教学经历 </a></li>
							</ul>
						</div>
						<div class='col-md-12 info-pdlr'>
							<div class='col-md-12 info-content info-mgb'
								style="background-color: #F6F8FF;">
								<div class='col-md-12 info-bbtm'>
									<h4>
										<span class='glyphicon glyphicon-user'></span> <a
											class='font-black' name='namecard'> 我的名片 </a>
									</h4>
								</div>
								<div class='col-md-12'>
									<h5>
										<div class='col-md-2 info-mgb'>
											<span class='text-muted'> 姓名： </span>
											{{ course.teacher.name }}
										</div>
										<div class='col-md-2'>
											<span class='text-muted'> 年龄： </span> {{ course.teacher.age }}
										</div>
										<div class='col-md-2'>
											<span class='text-muted'> 性别： </span>
											{% if course.teacher.sex %}男{% else %}女{% endif %}
										</div>

										<div class='col-md-12 info-mgb subject-content'>
											<span class='text-muted'> 教学科目： </span>
											{{ course.grade }}-{{ course.name }}
										</div>
										<div class='col-md-12 info-mgb'>
											<span class='text-muted'> 我的简介： </span>
										</div>
										<div class='col-md-12 info-mgb introduction content-height'>{{ course.teacher.introduction 	}}</div>
									</h5>
								</div>
							</div>
							<div class='col-md-12 info-pdlr info-mgb info-content'
								style="background-color: #F6F8FF;">
								<div class='row'>
									<div class='col-md-12'>
										<div class='col-md-12 info-bbtm'>
											<h4>
												<span class='glyphicon glyphicon-book'></span> <a
													class='font-black' name='studyresult'> 我的学习成果 </a>
											</h4>
										</div>
									</div>
								</div>
								{% if achievement %}
								<div class='col-md-12'>
									<div class='col-md-12 text-center'>
										<h4>
											<span class='glyphicon glyphicon-bookmark'></span> 我的荣誉
										</h4>
									</div>
									<div class='col-md-12'>
										{% for achievement in achievements %}
											
											<div class='col-md-3'>
												<div class='thumbnail honor-img'>
													<div class='img-h'>
														<img alt="Normal_acf72ca6969600c66711214d2ae1adaa4400da45"
															height="170px" src="{{ achievement.src }}"
															width="100%" />
													</div>
													<div class='caption text-center'>{{ achievement.name }}</div>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
								{% else %}
								<p>暂无</p>
								{% endif %}
							</div>
							<div class='col-md-12 info-pdlr info-mgb info-content'
								style="background-color: #F6F8FF;">
								<div class='row'>
									<div class='col-md-12'>
										<div class='col-md-12 info-bbtm'>
											<h4>
												<span class='glyphicon glyphicon-time'> <a
													class='font-black' name='experience'> 我的教学经历 </a>
												</span>
											</h4>
										</div>
									</div>
								</div>
								<!-- <c:forEach items="${sessionScope.experiences}" var="experience">
									<div class='col-md-12'>
										<div class='qa-message-list'>
											<div class='message-item'>
												<div class='message-inner'>
													<div class='message-head clearfix'>${experience.beginDate }
														到 ${experience.endDate } | 学生：${experience.studentName } |
														学校：${experience.studentSchool } |
														辅导科目：${experience.teachSubject }</div>
													<div class='qa-message-content'>${experience.teachExperience }</div>
												</div>
											</div>
										</div>
									</div>
								</c:forEach> -->
								<!-- 静态测试 -->
								<div class='col-md-12'>
									<div class='qa-message-list'>
										<div class='message-item'>
											<div class='message-inner'>
												<div class='message-head clearfix'>2017-1-1
													到 2017-1-2 | 学生：李翠花 |
													学校：保定二蛋中学 |
													辅导科目：玩</div>
												<div class='qa-message-content'>评价非常好</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class='col-md-12 info-pdlr info-mgb info-content'
								style="background-color: #F6F8FF;">
								<div class='row'>
									<div class='col-md-12'>
										<div class='col-md-12 info-bbtm'>
											<h4>
												<span class='glyphicon glyphicon-time'> <a
													class='font-black' name='experience'> 我的教学评价</a>
												</span>
											</h4>
										</div>
									</div>
								</div>
							<!-- 	<c:forEach items="${sessionScope.orderComments}" var="comment">
									<div class='col-md-12'>
										<div class='qa-message-list'>
											<div class='message-item'>
												<div class='message-inner'>
													<div class='qa-message-content'>${comment.comment }这孩子 非常好</div>

												</div>

											</div>
										</div>
									</div>
								</c:forEach> -->
								<!-- 静态测试 -->
								<div class='col-md-12'>
									<div class='qa-message-list'>
										<div class='message-item'>
											<div class='message-inner'>
												<div class='qa-message-content'>这孩子 非常好</div>

											</div>
											
										</div>
									</div>
								</div>
								<div class='col-md-12'>
									<div class='qa-message-list'>
										<div class='message-item'>
											<div class='message-inner'>
												<div class='qa-message-content'>这孩子 特别好</div>

											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

<!--

	<!- - 模态框（Modal） - ->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">用户登录</h4>
				</div>
				<div class="modal-body">
				
						<div style="margin: 0; padding: 0; display: inline">
						</div>
						<div class='inputs'>
							<div class='input-group'>
								<div class='input-group-addon left_bc'>
									<span class='glyphicon glyphicon-user'></span>
								</div>
								<input autofocus="autofocus" class="login-controls txt_left"
									 name="email" placeholder="请输入注册邮箱" id="email"
									size="30" type="text" />
							</div>
						</div>
						<div class='inputs'>
							<div class='input-group'>
								<div class='input-group-addon left_bc'>
									<span class='glyphicon glyphicon-lock'></span>
								</div>
								<input autocomplete="off" class="login-controls txt-left"
									name="password"
									placeholder="请输入密码" size="30" type="password" id="password"/>
							</div>
						</div>
						<div class='input_div'>
							<input class='btn btn-lg btn-block btn_back' id="loginBtn"
								 type='button' value='登录'>
						</div>
						<div class='input_div'>
							<div class='row'>
								<div class='col-md-4 col-md-offset-4 reg_align' style="float: right;">
									<a href="/FamilyEdu/user/register" class="login_reg">用户注册</a>
								</div>
							</div>
						</div>
				</div>
			</div>
			<!- - /.modal-content - ->
		</div>
		<!- - /.modal - ->
	</div>
-->
{% endblock %}